body{
	background: #272822;


}
h1{
	background:#016A69;
	font-size: 50px;
	color:white;
}
div.divf{
	background:#CBCECD;
	width: 50%; 
	margin: 20px 100px;
	padding: 20px;
	border: 5px solid #000;
}
input.boton{
	margin: 0px 0px 0px 250px;
}
div.bandera{
	width: 100px;
	height: 100px;
	border: 3px solid #000;
	margin: 10px 0px 0px 250px;
}
